@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light;
	color: #fff;
	background-color: #000;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

/* Scroll Bar Customization */

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	background-color: #fff;
	border-radius: 140px;
}

::-webkit-scrollbar-thumb {
	background-color: #888;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #a0a0a0;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	min-width: 320px;
	min-height: 100vh;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #000;
		background-color: #ffffff;
	}
}
